parameters:
    level: 9
    tmpDir: build/phpstan
    resultCachePath: %currentWorkingDirectory%/build/phpstan/resultCache.php
    paths:
        - src
        - tests
    excludePaths:
        - tests/Envs/*
    ignoreErrors:
        # We don't need to be pedantic about iterable types in tests.
        - identifier:  missingType.iterableValue
          paths:
            - tests/*
          reportUnmatched: false

        # PHPStan doesn't understand PHPUnit's self-termination methods.
        - identifier: deadCode.unreachable
          paths:
            - tests/*
          reportUnmatched: false

        # PHPStan is overly aggressive on readonly properties.
        -
            identifier: property.uninitializedReadonly
            reportUnmatched: false
        -
            identifier:  property.readOnlyAssignNotInConstructor
            reportUnmatched: false
        # This is wrong, getName() is a working method on ReflectionType. But the stubs are wrong, or something.
        -
            message: "#^Call to an undefined method ReflectionType\\:\\:getName\\(\\)\\.$#"
            count: 1
            path: src/TypeMismatch.php
